  #classicformpage .view {
      background-image: url("../assets/images/youtube-button.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 100vh;
    }
    
  #classicformpage .gradient {
      background: -webkit-linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.7),
        rgba(67, 39, 111, 0.75) 100%
      );
      background: -webkit-gradient(
        linear,
        45deg,
        from(rgba(0, 0, 0, 0.95), rgba(67, 39, 111, 0.75) 100%)
      );
      background: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.7),
        rgba(67, 39, 111, 0.75) 100%
      );
    } 
  
  #classicformpage .card {
    background-color: white;
    color: black;
  }
  
  #colored-card {
    background-color: #f87f5d !important;
    color: black;
  }
  

  #classicformpage h6 {
    line-height: 1.7;
  }
  
  #classicformpage .navbar {
    background: #943275 !important;
  } 
  
  #classicformpage .footer-copyright {
    background: #43276F !important;
  } 

  #classicformpage .top-nav-collapse {
    background: #943275 !important;
  }
  
  @media (max-width: 768px) {
    #classicformpage .navbar:not(.top-nav-collapse) {
      background: #943275 !important;
    }
  }
  
  #classicformpage label {
    color: black !important;
  }

  #fmSearch {
    color: #F9f871 !important;
  }

  #fmSearch::placeholder {
    color: lightgrey !important;
  }